/* Note the css in this project is build from .scss templates - make sure you are editing the scss
if you want to make changes! */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

(see http://meyerweb.com/eric/thoughts/2011/01/03/reset-revisited/ for discussion)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.nojsWarning {
  display: block;
  padding: 1em;
  margin: 1em;
  border: 1px solid red; }
  .nojsWarning h1 {
    font-size: 1.2em;
    font-weight: bold; }

.js .nojsWarning {
  display: none; }

.partCssWarning {
  display: none; }

.no-borderradius .partCssWarning {
  display: block;
  padding: 1em;
  margin: 1em;
  border: 1px solid red; }
  .no-borderradius .partCssWarning h1 {
    font-size: 1.2em;
    font-weight: bold; }

.oldIeWarning {
  display: block;
  padding: 1em;
  margin: 1em;
  border: 1px solid red; }
  .oldIeWarning h1 {
    font-size: 1.2em;
    font-weight: bold; }

/* Colours from the solarized project: http://ethanschoonover.com/solarized
  Copyright (c) 2011 Ethan Schoonover
*/
/* various bits from  http://html5boilerplate.com/mobile/ */
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none; }

.nocallout {
  -webkit-touch-callout: none; }

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

body {
  background-color: #fdf6e3;
  color: #657b83;
  margin: 0px auto;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5; }
  body * {
    color: #657b83; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #586e75;
    border-color: #657b83; }
  body a, body a:active, body a:visited {
    color: #586e75; }
  @media (max-width: 599px) {
    body {
      font-size: 14px;
      font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif; } }
  @media (min-width: 600px) {
    body {
      font-size: 18px;
      font-family: 'OFL Sorts Mill Goudy TT', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif," "Bitstream Vera Serif", "Liberation Serif", Georgia, serif; } }
  @media (min-width: 600px) {
    body {
      text-rendering: optimizeLegibility; } }
  body > header > h1 {
    float: left;
    left: 5px;
    top: 5px; }
    @media (max-width: 599px) {
      body > header > h1 {
        left: 2px;
        top: 2px; } }
  body > header > nav {
    margin: 0 auto;
    width: 75%;
    text-transform: lowercase;
    text-align: center;
    font-style: italic;
    font-size: 48px; }
    @media (max-width: 599px) {
      body > header > nav {
        font-size: 24px; } }
    body > header > nav li {
      display: inline;
      list-style-type: none; }
      body > header > nav li:not(:last-child):after {
        content: " ~"; }
      @media (max-width: 599px) {
        body > header > nav li a {
          color: #657b83;
          text-decoration: none;
          text-shadow: 2px 2px 2px #eee8d5; } }
      @media (min-width: 600px) {
        body > header > nav li a {
          color: #657b83;
          text-decoration: none;
          text-shadow: 2px 2px 2px #eee8d5; }
          body > header > nav li a:hover {
            color: #839496;
            background-color: #002b36;
            text-shadow: 2px 2px 2px #073642;
            -moz-border-radius: 15px;
            -webkit-border-radius: 15px;
            border-radius: 15px; }
        body > header > nav li a {
          padding: 18px; } }
  body .group:nth-child(odd) {
    background: #eee8d5; }
  body .group > header h1 {
    display: block;
    left: 5px;
    float: left;
    font-size: 32px;
    font-style: italic;
    margin: 18px 0 0; }
    @media (max-width: 599px) {
      body .group > header h1 {
        left: 3px;
        font-size: 16px;
        margin: 9px 0 0; } }
  body .group > ul {
    display: block;
    font-size: 48px;
    margin: 5px auto;
    width: 80%; }
    body .group > ul:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    @media (max-width: 599px) {
      body .group > ul {
        font-size: 24px;
        margin: 2px auto; } }
    body .group > ul li {
      display: block;
      float: left;
      list-style-type: none; }
      @media (max-width: 599px) {
        body .group > ul li a {
          color: #657b83;
          text-decoration: none;
          text-shadow: 2px 2px 2px #eee8d5; } }
      @media (min-width: 600px) {
        body .group > ul li a {
          color: #657b83;
          text-decoration: none;
          text-shadow: 2px 2px 2px #eee8d5; }
          body .group > ul li a:hover {
            color: #839496;
            background-color: #002b36;
            text-shadow: 2px 2px 2px #073642;
            -moz-border-radius: 15px;
            -webkit-border-radius: 15px;
            border-radius: 15px; } }
      body .group > ul li a {
        display: block;
        padding: 10px 32px; }
        @media (max-width: 599px) {
          body .group > ul li a {
            padding: 5px 16px; } }
  body > footer {
    border-top: 1px solid #93a1a1;
    margin: 0px 5px;
    font-size: 14px; }
    @media (max-width: 599px) {
      body > footer {
        margin: 0px 2px;
        font-size: 7px; } }
