/* Note the css in this project is build from .scss templates - make sure you are editing the scss
if you want to make changes! */
@import "reset";
// warnings about browser compatibility etc
@import "featuredetect";

// basic css3 bells and whistles
@import "css3_mixins";

@import "solarized";

@import "mobile_boiler";


@mixin linkwidget {
  a {
    color: $base00;
    text-decoration: none;
    text-shadow: 2px 2px 2px $base2;
    &:hover {
      color: $base0;
      background-color: $base03;
      text-shadow: 2px 2px 2px $base02;
      @include rounded(15px);
    } // hover
  } // a
}
@mixin mobilelink {
  a {
    color: $base00;
    text-decoration: none;
    text-shadow: 2px 2px 2px $base2;
  }
}

@import "fonts";

body {
  @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03);

  margin: 0px auto;

@media (max-width: 599px) {
  font-size: 14px;
  @include helvetica-arial-fonts;
}
@media (min-width: 600px) {
  font-size: 18px;
  @include goudy-webfont-fonts;
}

  @media (min-width: 600px) { // desktop only - weird stuff on android browser
    text-rendering: optimizeLegibility;
  }
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;

  > header {
    > h1 {
      float: left;
      left: 5px;
      top: 5px;
      @media (max-width: 599px) {
        left: 2px;
        top: 2px;
      }
    }
    > nav {
      margin: 0 auto;
      width: 75%;
      text-transform: lowercase;
      text-align: center;
      font-style: italic;
      font-size: 48px;
      @media (max-width: 599px) {
        font-size: 24px;
      }

      li {
        display: inline;
        list-style-type: none;
        &:not(:last-child):after {
          content: " ~";
        }
        @media (max-width: 599px) {
          @include mobilelink;
        }
        @media (min-width: 600px) { // desktop
          @include linkwidget;
          a {
            padding: 18px;
          }
        }
      }
    } // nav
  } // header
  .group {
    &:nth-child(odd) {
      background: $base2;
    }
    > header h1 {
      display: block;
      left: 5px;
      float: left;
      font-size: 32px;
      font-style: italic;
      margin: 18px 0 0;
      @media (max-width: 599px) {
        left: 3px;
        font-size: 16px;
        margin: 9px 0 0;
      }
    } // header
    > ul {
      @include clearfix;
      font-size: 48px;
      margin: 5px auto;
      width: 80%;
      @media (max-width: 599px) {
        font-size: 24px;
        margin: 2px auto;
      }
      li {
        display: block;
        float: left;
        list-style-type: none;
        @media (max-width: 599px) {
          @include mobilelink;
        }
        @media (min-width: 600px) { // desktop
          @include linkwidget;
        }
        a {
          display: block;
          padding: 10px 32px;
          @media (max-width: 599px) {
            padding: 5px 16px;
          }
        }
      }
    } // ul

  }
  > footer {
    border-top: 1px solid $base1;
    margin: 0px 5px;
    font-size: 14px;
    @media (max-width: 599px) {
      margin: 0px 2px;
      font-size: 7px;
    }
  }
} // body
