/* Note the css in this project is build from .scss templates - make sure you are editing the scss
if you want to make changes! */
@import "reset";
// warnings about browser compatibility etc
@import "featuredetect";

// basic css3 bells and whistles
@import "css3_mixins";

@import "solarized";

@mixin linkwidget {
  a {
    color: $base00;
    text-decoration: none;
    text-shadow: 2px 2px 2px $base2;
    &:hover {
      color: $base0;
      background-color: $base03;
      text-shadow: 2px 2px 2px $base02;
      @include rounded(15px);
    } // hover
  } // a
}

@import "fonts";

body {
  @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03);

  margin: 0px auto;

  font-size: 18px;
  @include goudy-webfont-fonts;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;

  > header {
    > h1 {
      float: left;
      left: 5px;
      top: 5px;
    }
    > nav {
      margin: 0 auto;
      width: 75%;
      text-transform: lowercase;
      text-align: center;
      font-style: italic;
      font-size: 48px;

      li {
        display: inline;
        list-style-type: none;
        &:not(:last-child):after {
          content: " ~";
        }
        @include linkwidget;
        a {
          padding: 18px;
        }
      }
    } // nav
  } // header
  .group {
    &:nth-child(odd) {
      background: $base2;
    }
    > header h1 {
      display: block;
      left: 5px;
      float: left;
      font-size: 32px;
      font-style: italic;
      margin: 18px 0 0;
    } // header
    > ul {
      @include clearfix;
      font-size: 48px;
      margin: 5px auto;
      width: 80%;
      li {
        display: block;
        float: left;
        list-style-type: none;
        @include linkwidget;
        a {
          display: block;
          padding: 10px 32px;
        }
      }
    } // ul

  }
  > footer {
    border-top: 1px solid $base1;
    margin: 0px 5px;
    font-size: 14px;
  }
} // body
